body{
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    margin: 10px;
}
.card{
    padding: 10px;
    margin: 10px;
    width: 100%;
    background-color:lightpink;
    border-radius: 5rem;
}
